In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import zipfile

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [4]:
df = pd.read_csv(zipfile.ZipFile('data/Train.zip', mode='r').open('Train.csv'), low_memory=False)#, parse_dates=['saledate'])

In [3]:
df.tail()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
401120,6333336,10500,1840702,21439,149,1,2005,NaN,NaN,11/2/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401121,6333337,11000,1830472,21439,149,1,2005,NaN,NaN,11/2/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401122,6333338,11500,1887659,21439,149,1,2005,NaN,NaN,11/2/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401123,6333341,9000,1903570,21435,149,2,2005,NaN,NaN,10/25/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401124,6333342,7750,1926965,21435,149,2,2005,NaN,NaN,10/25/2011 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN

In [4]:
df.groupby('ProductGroupDesc')['SalePrice'].describe().unstack(level=-1)

,count,mean,std,min,25%,50%,75%,max
ProductGroupDesc,,,,,,,,
Backhoe Loaders,79415,20897.352553,7601.831029,7500,15000,20500,26000,40000
Motor Graders,25489,47251.564518,32765.783030,8000,19000,40000,67000,142000
Skid Steer Loaders,43488,10549.458563,3551.567838,4750,7900,10000,13000,20000
Track Excavators,101167,35666.120622,23618.215130,7500,17000,29000,49000,110000
Track Type Tractors,80520,36158.412221,24338.874294,8000,18000,29000,46000,127500
Wheel Loader,71046,37052.463249,22596.334012,8000,18500,32000,51000,107000

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 401125 entries, 0 to 401124
Data columns (total 53 columns):
SalesID                     401125 non-null int64
SalePrice                   401125 non-null int64
MachineID                   401125 non-null int64
ModelID                     401125 non-null int64
datasource                  401125 non-null int64
auctioneerID                380989 non-null float64
YearMade                    401125 non-null int64
MachineHoursCurrentMeter    142765 non-null float64
UsageBand                   69639 non-null object
saledate                    401125 non-null object
fiModelDesc                 401125 non-null object
fiBaseModel                 401125 non-null object
fiSecondaryDesc             263934 non-null object
fiModelSeries               56908 non-null object
fiModelDescriptor           71919 non-null object
ProductSize                 190350 non-null object
fiProductClassDesc          401125 non-null object
state                       401125 non-null object
ProductGroup                401125 non-null object
ProductGroupDesc            401125 non-null object
Drive_System                104361 non-null object
Enclosure                   400800 non-null object
Forks                       192077 non-null object
Pad_Type                    79134 non-null object
Ride_Control                148606 non-null object
Stick                       79134 non-null object
Transmission                183230 non-null object
Turbocharged                79134 non-null object
Blade_Extension             25219 non-null object
Blade_Width                 25219 non-null object
Enclosure_Type              25219 non-null object
Engine_Horsepower           25219 non-null object
Hydraulics                  320570 non-null object
Pushblock                   25219 non-null object
Ripper                      104137 non-null object
Scarifier                   25230 non-null object
Tip_Control                 25219 non-null object
Tire_Size                   94718 non-null object
Coupler                     213952 non-null object
Coupler_System              43458 non-null object
Grouser_Tracks              43362 non-null object
Hydraulics_Flow             43362 non-null object
Track_Type                  99153 non-null object
Undercarriage_Pad_Width     99872 non-null object
Stick_Length                99218 non-null object
Thumb                       99288 non-null object
Pattern_Changer             99218 non-null object
Grouser_Type                99153 non-null object
Backhoe_Mounting            78672 non-null object
Blade_Type                  79833 non-null object
Travel_Controls             79834 non-null object
Differential_Type           69411 non-null object
Steering_Controls           69369 non-null object
dtypes: float64(2), int64(6), object(45)
memory usage: 165.3+ MB

In [11]:
df_count = df.groupby('ProductGroupDesc')['SalePrice'].count().rename({'SalePrice':'Count'})
print df_count

ProductGroupDesc
Backhoe Loaders         79415
Motor Graders           25489
Skid Steer Loaders      43488
Track Excavators       101167
Track Type Tractors     80520
Wheel Loader            71046
Name: SalePrice, dtype: int64

In [10]:
df.groupby(['ProductGroupDesc', df.columns[20]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                   Count
ProductGroupDesc Drive_System
Backhoe Loaders  All Wheel Drive       4
                 Four Wheel Drive  32996
                 No                    3
                 Two Wheel Drive   46138
Motor Graders    All Wheel Drive     794
                 No                24425
                 Two Wheel Drive       1

In [13]:
print df.ix[df.ProductGroupDesc == 'Backhoe Loaders', 20].isnull().sum().astype(float) / df_count['Backhoe Loaders'] 
print df.ix[df.ProductGroupDesc == 'Motor Graders', 20].isnull().sum().astype(float) / df_count['Motor Graders']

0.00345022980545
0.0105535721292

In [14]:
df.groupby(['ProductGroupDesc', df.columns[21]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                         Count
ProductGroupDesc    Enclosure
Backhoe Loaders     EROPS                20787
                    EROPS AC                 1
                    EROPS w AC            7002
                    OROPS                51617
Motor Graders       EROPS                13237
                    EROPS AC                 3
                    EROPS w AC            7830
                    OROPS                 4419
Skid Steer Loaders  EROPS                 2120
                    EROPS AC                 1
                    EROPS w AC            1462
                    OROPS                39905
Track Excavators    EROPS                65158
                    EROPS AC                 3
                    EROPS w AC           35460
                    None or Unspecified      2
                    OROPS                  429
Track Type Tractors EROPS                 8130
                    EROPS AC                 4
                    EROPS w AC           13059
                    NO ROPS                  3
                    OROPS                59188
Wheel Loader        EROPS                29594
                    EROPS AC                 5
                    EROPS w AC           23007
                    OROPS                18374

In [17]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 21].isnull().sum().astype(float) / df_count[pg]

0.000100736636656
0.0
0.0
0.0011367343106
0.00168902136115
0.000928975593278

In [15]:
df.groupby(['ProductGroupDesc', df.columns[22]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                        Count
ProductGroupDesc   Forks
Backhoe Loaders    None or Unspecified  76244
                   Yes                   3016
Skid Steer Loaders None or Unspecified  42599
                   Yes                    796
Wheel Loader       None or Unspecified  59457
                   Yes                   9965

In [19]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 22].isnull().sum().astype(float) / df_count[pg]

0.0019517723352
1.0
0.0021385209713
1.0
1.0
0.0228584297497

In [16]:
df.groupby(['ProductGroupDesc', df.columns[23]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                      Count
ProductGroupDesc Pad_Type
Backhoe Loaders  Grouser                 25
                 None or Unspecified  70614
                 Reversible            5832
                 Street                2663

In [20]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 23].isnull().sum().astype(float) / df_count[pg]

0.00353837436253
1.0
1.0
1.0
1.0
1.0

In [17]:
df.groupby(['ProductGroupDesc', df.columns[24]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                      Count
ProductGroupDesc Ride_Control
Backhoe Loaders  No                   77551
                 None or Unspecified    118
                 Yes                   1583
Wheel Loader     No                     134
                 None or Unspecified  62998
                 Yes                   6222

In [21]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 24].isnull().sum().astype(float) / df_count[pg]

0.00205250897186
1.0
1.0
1.0
1.0
0.0238155561186

In [18]:
df.groupby(['ProductGroupDesc', df.columns[25]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                           Count
ProductGroupDesc Stick
Backhoe Loaders  Extended  30305
                 Standard  48829

In [22]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 25].isnull().sum().astype(float) / df_count[pg]

0.00353837436253
1.0
1.0
1.0
1.0
1.0

In [19]:
df.groupby(['ProductGroupDesc', df.columns[26]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                         Count
ProductGroupDesc    Transmission
Backhoe Loaders     Autoshift              114
                    Hydrostatic            273
                    None or Unspecified      5
                    Powershift            1002
                    Powershuttle          4243
                    Standard             73563
Motor Graders       AutoShift               44
                    Hydrostatic              1
                    None or Unspecified  23096
                    Powershift            2086
                    Standard                38
Track Type Tractors Direct Drive           418
                    Hydrostatic           2930
                    None or Unspecified     46
                    Powershift            8643
                    Powershuttle             1
                    Standard             66727

In [23]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 26].isnull().sum().astype(float) / df_count[pg]

0.00270729711012
0.0087881046726
1.0
1.0
0.0217958271237
1.0

In [20]:
df.groupby(['ProductGroupDesc', df.columns[27]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                      Count
ProductGroupDesc Turbocharged
Backhoe Loaders  None or Unspecified  75211
                 Yes                   3923

In [24]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 27].isnull().sum().astype(float) / df_count[pg]

0.00353837436253
1.0
1.0
1.0
1.0
1.0

In [21]:
df.groupby(['ProductGroupDesc', df.columns[28]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                      Count
ProductGroupDesc Blade_Extension
Motor Graders    None or Unspecified  24692
                 Yes                    527

In [25]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 28].isnull().sum().astype(float) / df_count[pg]

1.0
0.0105928047393
1.0
1.0
1.0
1.0

In [22]:
df.groupby(['ProductGroupDesc', df.columns[29]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                      Count
ProductGroupDesc Blade_Width
Motor Graders    12'                   4968
                 13'                    329
                 14'                   9615
                 16'                    933
                 <12'                    91
                 None or Unspecified   9283

In [26]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 29].isnull().sum().astype(float) / df_count[pg]

1.0
0.0105928047393
1.0
1.0
1.0
1.0

In [23]:
df.groupby(['ProductGroupDesc', df.columns[30]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                      Count
ProductGroupDesc Enclosure_Type
Motor Graders    High Profile           786
                 Low Profile           2510
                 None or Unspecified  21923

In [27]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 30].isnull().sum().astype(float) / df_count[pg]

1.0
0.0105928047393
1.0
1.0
1.0
1.0

In [24]:
df.groupby(['ProductGroupDesc', df.columns[31]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                    Count
ProductGroupDesc Engine_Horsepower
Motor Graders    No                 23937
                 Variable            1282

In [28]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 31].isnull().sum().astype(float) / df_count[pg]

1.0
0.0105928047393
1.0
1.0
1.0
1.0

In [25]:
df.groupby(['ProductGroupDesc', df.columns[32]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                         Count
ProductGroupDesc    Hydraulics
Motor Graders       2 Valve                103
                    3 Valve                  2
                    Auxiliary               27
                    Base + 1 Function    24575
                    Base + 2 Function      127
                    Base + 3 Function      299
                    Base + 4 Function       76
                    Base + 5 Function       89
                    Base + 6 Function       53
                    Standard                86
Skid Steer Loaders  2 Valve                 25
                    3 Valve                  5
                    Auxiliary            14809
                    Base + 1 Function       15
                    Standard             28574
Track Excavators    2 Valve               1292
                    3 Valve                 49
                    Auxiliary            25265
                    Base + 1 Function       92
                    None or Unspecified      4
                    Standard             74065
Track Type Tractors 2 Valve              74883
                    3 Valve               1618
                    4 Valve               2526
                    Auxiliary              243
                    Base + 1 Function       51
                    None or Unspecified      5
                    Standard               925
Wheel Loader        2 Valve              65101
                    3 Valve               3948
                    4 Valve                434
                    Auxiliary              393
                    Base + 1 Function       37
                    None or Unspecified      1
                    Standard               773

In [29]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 32].isnull().sum().astype(float) / df_count[pg]

1.0
0.00204009572757
0.00137969094923
0.00395385847164
0.00334078489816
0.00505306421192

In [26]:
df.groupby(['ProductGroupDesc', df.columns[33]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                      Count
ProductGroupDesc Pushblock
Motor Graders    None or Unspecified  19463
                 Yes                   5756

In [30]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 33].isnull().sum().astype(float) / df_count[pg]

1.0
0.0105928047393
1.0
1.0
1.0
1.0

In [27]:
df.groupby(['ProductGroupDesc', df.columns[34]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                         Count
ProductGroupDesc    Ripper
Motor Graders       Multi Shank              6
                    None or Unspecified  17435
                    Single Shank            11
                    Yes                   7850
Track Type Tractors Multi Shank           7627
                    None or Unspecified  66017
                    Single Shank          5139
                    Yes                     52

In [31]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 34].isnull().sum().astype(float) / df_count[pg]

1.0
0.00733649809722
1.0
1.0
0.0209264778937
1.0

In [28]:
df.groupby(['ProductGroupDesc', df.columns[35]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                      Count
ProductGroupDesc Scarifier
Motor Graders    None or Unspecified  12719
                 Yes                  12511

In [32]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 35].isnull().sum().astype(float) / df_count[pg]

1.0
0.0101612460277
1.0
1.0
1.0
1.0

In [29]:
df.groupby(['ProductGroupDesc', df.columns[36]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                      Count
ProductGroupDesc Tip_Control
Motor Graders    None or Unspecified  16207
                 Sideshift & Tip       7070
                 Tip                   1942

In [34]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 36].isnull().sum().astype(float) / df_count[pg]

1.0
0.0105928047393
1.0
1.0
1.0
1.0

In [30]:
df.groupby(['ProductGroupDesc', df.columns[37]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                      Count
ProductGroupDesc Tire_Size
Motor Graders    10"                      8
                 13"                    764
                 14"                   8809
                 15.5"                  456
                 17.5                    13
                 17.5"                 1779
                 20.5                     5
                 20.5"                  715
                 23.1"                   20
                 23.5                    11
                 23.5"                  300
                 7.0"                     5
                 None or Unspecified  12426
Wheel Loader     10 inch                  3
                 13"                      2
                 14"                      4
                 15.5                   607
                 15.5"                    1
                 17.5                  3919
                 17.5"                   14
                 20.5                 15237
                 20.5"                    3
                 23.5                  8469
                 23.5"                    2
                 26.5                  4482
                 29.5                  2704
                 7.0"                    47
                 None or Unspecified  33913

In [31]:
df.groupby(['ProductGroupDesc', df.columns[38]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                        Count
ProductGroupDesc   Coupler
Skid Steer Loaders Hydraulic              576
                   Manual                5125
                   None or Unspecified  37742
Track Excavators   Hydraulic             2754
                   Manual                7970
                   None or Unspecified  89369
Wheel Loader       Hydraulic             2739
                   Manual               10206
                   None or Unspecified  57471

In [35]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 37].isnull().sum().astype(float) / df_count[pg]

1.0
0.00698340460591
1.0
1.0
1.0
0.0230695605664

In [38]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 38].isnull().sum().astype(float) / df_count[pg]

1.0
1.0
0.00103476821192
0.0106161099963
1.0
0.00886749429947

In [32]:
df.groupby(['ProductGroupDesc', df.columns[39]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                        Count
ProductGroupDesc   Coupler_System
Skid Steer Loaders None or Unspecified  40430
                   Yes                   3028

In [36]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 39].isnull().sum().astype(float) / df_count[pg]

1.0
1.0
0.000689845474614
1.0
1.0
1.0

In [33]:
df.groupby(['ProductGroupDesc', df.columns[40]])[['SalePrice']].count().rename(columns={'SalePrice': 'Count'})

                                        Count
ProductGroupDesc   Grouser_Tracks
Skid Steer Loaders None or Unspecified  40515
                   Yes                   2847

In [37]:
for pg in df_count.index:
    print df.ix[df.ProductGroupDesc == pg, 40].isnull().sum().astype(float) / df_count[pg]

1.0
1.0
0.00289735099338
1.0
1.0
1.0